<!DOCTYPE html>
<html>
  <head>
    <title>PX</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h4>keywords</h4>
      <p><%= keywords %></p>
    <h4>variables</h4>
      <p><%= variables %></p>
    <h4>Name at variable index 0: <%= variable(0) %></h4>
    <h4>Index of variable 'Car Make': <%= variable('Car Make') %></h4>

    <h2>Loop through variables and display values(variable)</h2>
    <% for(v of variables){ %>
      <h4><%= v %></h4>
      <p><%= values(v) %></p>
    <% } %>
    <h2>Loop through variables and display codes(variable)</h2>
    <% for(v of variables){ %>
      <h4><%= v %></h4>
      <p><%= codes(v) %></p>
    <% } %>
    <h2>Data</h2>
    <% for(d in data){ %>
      <h4>data.<%= d %></h4> 
      <p><%= JSON.stringify(data[d]) %></p>
    <% } %>

    <h1>Below this are specific to tem13 as I'm assuming 6 variables are present. These functions need a test on the passed array.</h1>


    <h2>getData() - accepts an array of indices from each of the above arrays</h2>
    <p>eg getData([2,0,0,0,1,0]), which is New Private Cars (Number), Alfa Romeo, Jan '16</p>
    <p><%= getData([2,0,0,0,1,0]) %></p>

  <h2>column</h2>
  <p><%= column(['*',0,0,0,0,0]) %></p>

  <h2>columnByName</h2>
  <p><%= JSON.stringify(column2('Car Make', {"Licensing Authority":'Kilkenny', "Statistic":"Second Hand Private Cars (Number)"})) %></p>

  <h2>columnByName</h2>
  <p><%= JSON.stringify(column2(3)) %></p>


<h2>valCounts</h2>
<p><%= valCounts() %></p>
<h4>Dictionary</h4>
<p><%= JSON.stringify( dictionary(['*',0,0,0,0,0]) ) %></p>

<h4>Metadata</h4>
 <p><%= JSON.stringify(metadata) %></p> 

  </body>
</html>
